{% extends "base_generic.html" %}

{% block content %}
  <h1>Dance Courses List</h1>
  {% if dance_course_list %}
  <!-- if dance_course_list doesn't work try object_list alias --->
    <ul>
      {% for course in dance_course_list %}
      <li>
        <a href="{{ course.get_absolute_url }}">{{ course.title }}</a>
        ({{course.cost}})
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no courses offered atm.</p>
  {% endif %}
{% endblock %}

<!-- course.get_absolute_url  within the loop Django will also create other variables that you can use to track the iteration. For example, you can test the forloop.last variable to perform conditional processing the last time that the loop is run -->
